@import '../../styles/base.scss';

.aside {
    &__image {
        margin-top: 16px;
        width: 120px;
        height: 70px;
    }

    &__list-container {
        list-style-type: none;

        @include mobile() {
            display: flex;
            flex-direction: column;
        }

        @include tablet() {
            display: flex;
            flex-direction: column;
        }

        @include desktop() {
            display: flex;
            flex-direction: column;
        }
    }

    &__wrapper {
        @include mobile() {
            display: flex;
        }

        @include tablet() {
            display: flex;
        }

        @include desktop() {
            display: flex;
        }
    }

    &__title-channel-holder {
        margin-left: 16px;

        @include mobile() {
            font-size: $labels-text-mobile;
        }

        @include desktop() {
            font-size: $paragraph-text-desk;
        }
    }

    &__channel {
        @include mobile () {
            margin: 0;
        }
    }
}