@font-face {
  font-family: "Avenir-Regular";
  src: url("../assets/Fonts/Linotype - AvenirNextLTPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Avenir-Bold";
  src: url("../assets/Fonts/Linotype - AvenirNextLTPro-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Avenir-Demi";
  src: url("../assets/Fonts/Linotype - AvenirNextLTPro-Demi.otf") format("opentype");
}

* {
  font-family: "Avenir-Regular";
}

body {
  margin: 0;
}

.main__nav-bar {
  background-color: #323232;
}

@media screen and (max-width: 425px) {
  .main__nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__logo-list-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 769px) {
  .main__logo-list-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__header-org {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
    height: 80px;
  }
}

@media screen and (min-width: 769px) {
  .main__header-org {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 180px;
    margin-top: 50px;
  }
}

@media screen and (max-width: 425px) {
  .main__logo-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main__logo {
  padding-top: 5%;
}

.main__nav-bar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 425px) {
  .main__nav-bar-list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__nav-bar-list {
    font-size: 16px;
  }
}

@media screen and (min-width: 769px) {
  .main__nav-bar-list {
    font-size: 16px;
  }
}

.main__nav-bar-list-item {
  color: white;
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__nav-bar-list-item {
    margin-left: 20px;
  }
}

@media screen and (min-width: 769px) {
  .main__nav-bar-list-item {
    margin-left: 56px;
    margin-top: 65px;
  }
}

.main__bio-border {
  border-bottom: 2px solid white;
}

.main__no-underline {
  text-decoration: none;
}

.main__nav-bar-item-opacity {
  color: grey;
}

.main__hero {
  background-image: url(../assets/Images/hero-bandsite.jpg);
  background-size: contain;
  background-position: center;
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__hero {
    height: 400px;
  }
}

@media screen and (min-width: 769px) {
  .main__hero {
    height: 670px;
  }
}

.main__hero-title {
  color: white;
  font-family: "Avenir-Bold";
}

@media screen and (max-width: 425px) {
  .main__hero-title {
    font-size: 24px;
    line-height: 32px;
    padding: 10% 5%;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__hero-title {
    font-size: 60px;
    line-height: 68px;
    padding: 15% 5%;
  }
}

@media screen and (min-width: 769px) {
  .main__hero-title {
    font-size: 60px;
    line-height: 68px;
    padding: 20% 10%;
  }
}

.main__wrap {
  padding: 32px;
}

@media screen and (max-width: 425px) {
  .main__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 769px) {
  .main__wrap {
    padding: 32px 142px;
  }
}

.main__info-title {
  font-family: "Avenir-Bold";
}

@media screen and (max-width: 425px) {
  .main__info-title {
    font-size: 24px;
    line-height: 32px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__info-title {
    font-size: 36px;
    line-height: 44px;
  }
}

@media screen and (min-width: 769px) {
  .main__info-title {
    font-size: 36px;
    line-height: 44px;
  }
}

@media screen and (max-width: 425px) {
  .main__bio-image {
    width: 288px;
    height: 162px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__bio-image {
    width: 90%;
    height: 10%;
  }
}

@media screen and (min-width: 769px) {
  .main__bio-image {
    width: 95%;
    height: 15%;
  }
}

.main__info-quote {
  font-family: "Avenir-Demi";
}

@media screen and (max-width: 425px) {
  .main__info-quote {
    font-size: 14px;
    line-height: 22px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__info-quote {
    font-size: 24px;
    line-height: 32px;
  }
}

@media screen and (min-width: 769px) {
  .main__info-quote {
    font-size: 24px;
    line-height: 32px;
  }
}

.main__info-quote-person {
  font-family: "Avenir-Demi";
}

@media screen and (max-width: 425px) {
  .main__info-quote-person {
    font-size: 14px;
    line-height: 22px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__info-quote-person {
    font-size: 24px;
    line-height: 32px;
  }
}

@media screen and (min-width: 769px) {
  .main__info-quote-person {
    font-size: 24px;
    line-height: 32px;
  }
}

.main__info-bio-title {
  font-family: "Avenir-Demi";
}

@media screen and (max-width: 425px) {
  .main__info-bio-title {
    font-size: 14px;
    line-height: 22px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__info-bio-title {
    font-size: 24px;
    line-height: 32px;
  }
}

@media screen and (min-width: 769px) {
  .main__info-bio-title {
    font-size: 24px;
    line-height: 32px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__para-location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 769px) {
  .main__para-location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__info-bio-one {
    margin-right: 24px;
  }
}

@media screen and (min-width: 769px) {
  .main__info-bio-one {
    margin-right: 24px;
  }
}

@media screen and (max-width: 425px) {
  .main__para-size {
    font-size: 13px;
    line-height: 18px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__para-size {
    font-size: 14px;
    line-height: 22px;
  }
}

@media screen and (min-width: 769px) {
  .main__para-size {
    font-size: 14px;
    line-height: 22px;
  }
}

.main__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 425px) {
  .main__gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__gallery {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 769px) {
  .main__gallery {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.main__gallery-title {
  font-family: "Avenir-Bold";
}

@media screen and (max-width: 425px) {
  .main__gallery-title {
    font-size: 24px;
    line-height: 32px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__gallery-title {
    font-size: 36px;
    line-height: 44px;
    margin-left: 32px;
  }
}

@media screen and (min-width: 769px) {
  .main__gallery-title {
    font-size: 36px;
    line-height: 44px;
  }
}

.main__gallery-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 425px) {
  .main__gallery-image {
    width: 288px;
    height: 162px;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__gallery-image {
    width: 26%;
    margin: 24px;
  }
}

@media screen and (min-width: 769px) {
  .main__gallery-image {
    width: 26%;
    margin: 24px;
  }
}

@media screen and (max-width: 425px) {
  .main__form-wrap {
    margin-left: 16px;
  }
}

.main__comment-title {
  font-family: "Avenir-Bold";
}

@media screen and (max-width: 425px) {
  .main__comment-title {
    margin-left: 16px;
    font-size: 24px;
    line-height: 32px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__comment-title {
    font-size: 36px;
    line-height: 44px;
    margin-left: 32px;
  }
}

@media screen and (min-width: 769px) {
  .main__comment-title {
    font-size: 36px;
    line-height: 44px;
    margin-left: 143px;
  }
}

.main__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 769px) {
  .main__form {
    margin-left: 90px;
  }
}

@media screen and (max-width: 425px) {
  .main__form-image {
    margin-left: 16px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__form-image {
    margin-left: 140px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    padding-top: 10px;
  }
}

@media screen and (min-width: 769px) {
  .main__form-image {
    margin-left: 140px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    padding-top: 10px;
  }
}

@media screen and (max-width: 425px) {
  .main__name-comment-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 10px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__name-comment-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 20px;
  }
}

@media screen and (min-width: 769px) {
  .main__name-comment-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 20px;
  }
}

@media screen and (max-width: 425px) {
  .main__form-name {
    margin-bottom: 20px;
    width: 224px;
    border: 1px solid black;
    border-radius: 4px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__form-name {
    margin-bottom: 24px;
    padding-left: 16px;
    width: 460px;
    height: 48px;
    border: 2px solid black;
    border-radius: 4px;
  }
}

@media screen and (min-width: 769px) {
  .main__form-name {
    margin-bottom: 24px;
    padding-left: 16px;
    width: 460px;
    height: 48px;
    border: 2px solid black;
    border-radius: 4px;
  }
}

@media screen and (max-width: 425px) {
  .main__form-comment {
    width: 224px;
    border: 1px solid black;
    border-radius: 4px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__form-comment {
    width: 460px;
    height: 96px;
    border: 1px solid black;
    border-radius: 4px;
    padding-left: 16px;
  }
}

@media screen and (min-width: 769px) {
  .main__form-comment {
    width: 460px;
    height: 96px;
    border: 1px solid black;
    border-radius: 4px;
    padding-left: 16px;
  }
}

@media screen and (max-width: 425px) {
  .main__form-button {
    margin-top: 10px;
    width: 228px;
    border: 1px solid black;
    border-radius: 4px;
    color: white;
    background-color: #323232;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__form-button {
    margin-top: 24px;
    width: 160px;
    height: 48px;
    border: 1px solid black;
    border-radius: 4px;
    color: white;
    background-color: #323232;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media screen and (min-width: 769px) {
  .main__form-button {
    margin-top: 24px;
    width: 160px;
    height: 48px;
    border: 1px solid black;
    border-radius: 4px;
    color: white;
    background-color: #323232;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

.main__new-comments {
  margin-top: 32px;
}

.main__comment-container {
  border-top: 1px solid #323232;
}

@media screen and (max-width: 425px) {
  .main__comment-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 24px 16px;
    padding-top: 24px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__comment-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 50px;
    padding-top: 24px;
  }
}

@media screen and (min-width: 769px) {
  .main__comment-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 87px;
    padding-top: 24px;
  }
}

@media screen and (max-width: 425px) {
  .main__comment {
    padding-left: 10px;
  }
}

@media screen and (max-width: 425px) {
  .main__comment-one-container {
    width: 88%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__comment-one-container {
    width: 88%;
    padding-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 769px) {
  .main__comment-one-container {
    width: 88%;
    padding-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__comment-date {
    padding-left: 10%;
  }
}

@media screen and (min-width: 769px) {
  .main__comment-date {
    padding-left: 10%;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__comment-comment {
    padding-left: 20px;
  }
}

@media screen and (min-width: 769px) {
  .main__comment-comment {
    padding-left: 20px;
  }
}

.main__footer {
  background-color: #323232;
  color: white;
  padding: 5%;
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__footer {
    margin-top: 40px;
  }
}

@media screen and (min-width: 769px) {
  .main__footer {
    margin-top: 40px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__footer-first-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 769px) {
  .main__footer-first-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
}

.main__footer-header {
  font-family: "Avenir-Bold";
}

@media screen and (max-width: 425px) {
  .main__footer-header {
    font-size: 24px;
    line-height: 32px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__footer-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    font-size: 36px;
    line-height: 44px;
  }
}

@media screen and (min-width: 769px) {
  .main__footer-header {
    font-size: 36px;
    line-height: 44px;
  }
}

@media screen and (max-width: 425px) {
  .main__footer-icon-padding {
    padding-left: 6%;
  }
}

@media screen and (max-width: 425px) {
  .main__footer-logo {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .main__footer-info-holder {
    font-size: 13px;
    line-height: 18px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__footer-info-holder {
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (min-width: 769px) {
  .main__footer-info-holder {
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .main__footer-second-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 769px) {
  .main__footer-second-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.main__footer-contact-names {
  font-family: "Avenir-Bold";
}
/*# sourceMappingURL=main.css.map */