// font-face
@font-face {
    font-family: "Avenir-Regular";
    src: url("../assets/Fonts/Linotype\ -\ AvenirNextLTPro-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Avenir-Bold";
    src: url("../assets/Fonts/Linotype\ -\ AvenirNextLTPro-Bold.otf") format("opentype");
}

@font-face {
    font-family: "Avenir-Demi";
    src: url("../assets/Fonts/Linotype\ -\ AvenirNextLTPro-Demi.otf") format("opentype");
}

//default font
* {
    font-family: "Avenir-Regular";
}

// font variables
$font-bold: "Avenir-Bold";
$font-demi: "Avenir-Demi";

// mobile text size and line height variables
$header-text-mobile: 24px;
$header-line-mobile: 32px;
$subheader-text-mobile: 14px;
$subheader-line-mobile: 22px;
//paragraphs and lists and contact info have the same text size and line height
$paragraph-text-mobile: 13px;
$paragraph-line-mobile: 18px;
$labels-text-mobile: 12px;
$labels-line-mobile: 20px;

// tablet and desktop text size and line height variables
$hero-header-text-desk: 60px;
$hero-header-line-desk: 68px;
$header-one-text-desk: 36px;
$header-one-line-desk: 44px;
$header-two-text-desk: 24px;
$header-two-line-desk: 32px;
$subheader-text-desk: 16px;
$subheader-line-desk: 24px;
// lists and contact info text size is the same as paragraph text size
$paragraph-text-desk: 14px;
$paragraph-line-desk: 22px;
$lists-line-desk: 20px;
$labels-text-desk: 12px;
$labels-line-desk: 20px;

// media query variables
$max-mobile-width: 426px;
$max-tablet-width: 769px;
$desktop-width: "screen and (min-width: #{$max-tablet-width})";

// mixins with media queries
@mixin mobile() {
    @media screen and (max-width: $max-mobile-width - 1) {
        @content;
    }
}

@mixin tablet() {
    @media screen and (min-width: $max-mobile-width) and (max-width: $max-tablet-width - 1) {
        @content;
    }
}

@mixin desktop() {
    @media #{$desktop-width} {
        @content;
    }
}

// styling
body {
    margin: 0;
}

.main {
    
    &__nav-bar {
        background-color: #323232;

        @include mobile() {
            display: flex;
            flex-direction: column;
        }

        @include tablet() {
            display: flex;
            flex-direction: column;
        }
    }

    &__logo-list-container {
        @include tablet() {
            display: flex;
            align-items: center;
        }

        @include desktop() {
            display: flex;
            align-items: center;
            height: 80px;
        }
    }

    &__header-org {
        @include tablet() {
            display: flex;
            align-items: center;
            padding: 20px;
            height: 80px;
        }

        @include desktop() {
            display: flex;
            align-items: center;
            margin-left: 180px;
            margin-top: 50px;
        }
    }

    &__logo-link {
        @include mobile() {
            display: flex;
            align-items: center;
            padding: 5%;
            justify-content: center;
        }
    }

    &__logo {
        padding-top: 5%;
    }

    &__nav-bar-list {
        display: flex;
        
        @include mobile() {
            justify-content: space-around;
            align-items: center;
            font-size: $subheader-text-mobile;
        }

        @include tablet() {
            font-size: $subheader-text-desk;
        }

        @include desktop() {
            font-size: $subheader-text-desk;
        }
    }

    &__nav-bar-list-item {
        color: white;

        @include tablet() {
            margin-left: 20px;
        }

        @include desktop() {
            margin-left: 56px;
            margin-top: 65px;
        }
    }

    &__bio-border {
        border-bottom: 2px solid white;
    }

    &__no-underline {
        text-decoration: none;
    }

    &__nav-bar-item-opacity {
        color: grey;
    }
    
    &__hero {
        background-image: url(../assets/Images/hero-bandsite.jpg);
        background-size: contain;
        background-position: center;

        @include tablet() {
            height: 400px;
        }

        @include desktop() {
            height: 670px;
        }
    }

    &__hero-title {
        color: white;
        font-family: $font-bold;

        @include mobile() {
            font-size: $header-text-mobile;
            line-height: $header-line-mobile;
            padding: 10% 5%;
        }

        @include tablet() {
            font-size: $hero-header-text-desk;
            line-height: $hero-header-line-desk;
            padding: 15% 5%;
        }

        @include desktop() {
            font-size: $hero-header-text-desk;
            line-height: $hero-header-line-desk;
            padding: 20% 10%;
        }
    }

    &__wrap {
        padding: 32px;

        @include mobile() {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        @include desktop() {
            padding: 32px 142px;
        }
    }

    &__info {
        @include mobile() {
            // display: flex;
            // justify-content: center;
            // flex-wrap: wrap;
        }
    }

    &__info-title {
        font-family: $font-bold;

        @include mobile () {
            font-size: $header-text-mobile;
            line-height: $header-line-mobile;
        }

        @include tablet() {
            font-size: $header-one-text-desk;
            line-height: $header-one-line-desk;
        }

        @include desktop() {
            font-size: $header-one-text-desk;
            line-height: $header-one-line-desk;
        }
    }

    &__bio-image {
        @include mobile () {
            width: 288px;
            height: 162px;
        }

        @include tablet() {
            width: 90%;
            height: 10%;
        }

        @include desktop() {
            width: 95%;
            height: 15%;
        }
    }

    &__info-quote {
        font-family: $font-demi;

        @include mobile () {
            font-size: $subheader-text-mobile;
            line-height: $subheader-line-mobile;
        }

        @include tablet() {
            font-size: $header-two-text-desk;
            line-height: $header-two-line-desk;
        }

        @include desktop() {
            font-size: $header-two-text-desk;
            line-height: $header-two-line-desk;
        }
    }

    &__info-quote-person {
        font-family: $font-demi;

        @include mobile () {
            font-size: $subheader-text-mobile;
            line-height: $subheader-line-mobile;
        }

        @include tablet() {
            font-size: $header-two-text-desk;
            line-height: $header-two-line-desk;
        }

        @include desktop() {
            font-size: $header-two-text-desk;
            line-height: $header-two-line-desk;
        }
    }

    &__info-bio-title {
        font-family: $font-demi;

        @include mobile () {
            font-size: $subheader-text-mobile;
            line-height: $subheader-line-mobile;
        }

        @include tablet() {
            font-size: $header-two-text-desk;
            line-height: $header-two-line-desk;
        }

        @include desktop() {
            font-size: $header-two-text-desk;
            line-height: $header-two-line-desk;
        }
    }

    &__para-location {
        @include tablet() {
            display: flex;
        }

        @include desktop() {
            display: flex;
        }
    }

    &__info-bio-one {
        @include tablet() {
            margin-right: 24px;
        }

        @include desktop() {
            margin-right: 24px;
        }
    }

    &__para-size {
        @include mobile () {
            font-size: $paragraph-text-mobile;
            line-height: $paragraph-line-mobile;
        }

        @include tablet() {
            font-size: $paragraph-text-desk;
            line-height: $paragraph-line-desk;
        }

        @include desktop() {
            font-size: $paragraph-text-desk;
            line-height: $paragraph-line-desk;
        }
    }

    &__gallery {
        display: flex;
        
        @include mobile () {
           flex-direction: column;
        }

        @include tablet() {
            flex-wrap: wrap;
            justify-content: space-between;
        }

        @include desktop () {
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    &__gallery-title {
        font-family: $font-bold;

        @include mobile () {
            font-size: $header-text-mobile;
            line-height: $header-line-mobile;
        }

        @include tablet() {
            font-size: $header-one-text-desk;
            line-height: $header-one-line-desk;
            margin-left: 32px;
        }

        @include desktop() {
            font-size: $header-one-text-desk;
            line-height: $header-one-line-desk;
        }
    }

    &__gallery-image {
        display: flex;
        flex-direction: column;

        @include mobile () {
            width: 288px;
            height: 162px;
            margin-bottom: 16px;
        }

        @include tablet() {
            width: 26%;
            margin: 24px;
        }

        @include desktop() {
            width: 26%;
            margin: 24px;
        }
    }

    // form
    &__form-wrap {
        @include mobile() {
            margin-left: 16px;
        }
    }

    &__comment-title {
        font-family: $font-bold;

        @include mobile () {
            margin-left: 16px;
            font-size: $header-text-mobile;
            line-height: $header-line-mobile;
        }

        @include tablet() {
            font-size: $header-one-text-desk;
            line-height: $header-one-line-desk;
            margin-left: 32px;
        }

        @include desktop() {
            font-size: $header-one-text-desk;
            line-height: $header-one-line-desk;
            margin-left: 143px;
        }
    }

    &__form {
        display: flex;

        @include desktop() {
            margin-left: 90px;
        }
    }

    &__form-image {
        @include mobile() {
            margin-left: 16px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        @include tablet() {
            margin-left: 140px;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            padding-top: 10px;
        }

        @include desktop() {
            margin-left: 140px;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            padding-top: 10px;
        }
    }

    &__name-comment-holder {
        @include mobile() {
            display: flex;
            flex-direction: column;
            padding-left: 10px;
        }

        @include tablet() {
            display: flex;
            flex-direction: column;
            padding-left: 20px;
        }

        @include desktop() {
            display: flex;
            flex-direction: column;
            padding-left: 20px;
        }
    }

    &__form-name {
        @include mobile() {
            margin-bottom: 20px;
            width: 224px;
            border: 1px solid black;
            border-radius: 4px;
        }

        @include tablet() {
            margin-bottom: 24px;
            padding-left: 16px;
            width: 460px;
            height: 48px;
            border: 2px solid black;
            border-radius: 4px;
        }

        @include desktop {
            margin-bottom: 24px;
            padding-left: 16px;
            width: 460px;
            height: 48px;
            border: 2px solid black;
            border-radius: 4px;
        }
    }

    &__form-comment {
        @include mobile() {
            width: 224px;
            border: 1px solid black;
            border-radius: 4px;
        }

        @include tablet() {
            width: 460px;
            height: 96px;
            border: 1px solid black;
            border-radius: 4px;
            padding-left: 16px;
        }

        @include desktop() {
            width: 460px;
            height: 96px;
            border: 1px solid black;
            border-radius: 4px;
            padding-left: 16px;
        }
    }

    &__form-button {
        @include mobile() {
            margin-top: 10px;
            width: 228px;
            border: 1px solid black;
            border-radius: 4px;
            color: white;
            background-color: #323232;
        }
        
        @include tablet() {
            margin-top: 24px;
            width: 160px;
            height: 48px;
            border: 1px solid black;
            border-radius: 4px;
            color: white;
            background-color: #323232;
            align-self: flex-end;
        }

        @include desktop() {
            margin-top: 24px;
            width: 160px;
            height: 48px;
            border: 1px solid black;
            border-radius: 4px;
            color: white;
            background-color: #323232;
            align-self: flex-end;
        }
    }

    // js comment section
    &__new-comments {
        margin-top: 32px;
    }

    &__comment-container {
        border-top: 1px solid #323232;

        @include mobile() {
            display: flex;
            margin: 24px 16px;
            padding-top: 24px;
        }
        
        @include tablet() {
            display: flex;
            margin: 0 50px;
            padding-top: 24px;
        }

        @include desktop() {
            display: flex;
            margin: 0 87px;
            padding-top: 24px;
        }
    }

    &__comment {
        @include mobile() {
            padding-left: 10px;
        }
    }

    &__comment-one-container {
        @include mobile() {
            width: 88%;
            display: flex;
            justify-content: space-between;
        }

        @include tablet() {
            width: 88%;
            padding-left: 20px;
            display: flex;
        }

        @include desktop() {
            width: 88%;
            padding-left: 20px;
            display: flex;
        }
    }

    &__comment-date {
        @include tablet() {
            padding-left: 10%;
        }

        @include desktop() {
            padding-left: 10%;
        }
    }

    &__comment-comment {
        @include tablet() {
            padding-left: 20px;
        }

        @include desktop() {
            padding-left: 20px;
        }
    }

    &__footer {
        background-color: #323232;
        color: white;
        padding: 5%;

        @include tablet() {
            margin-top: 40px;
        }

        @include desktop() {
            margin-top: 40px;
        }
    }

    &__footer-first-section {
        @include tablet() {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }

        @include desktop() {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }
    }

    &__footer-header {
        font-family: $font-bold;

        @include mobile () {
            font-size: $header-text-mobile;
            line-height: $header-line-mobile;
        }

        @include tablet() {
            display: flex;
            margin: 0;
            font-size: $header-one-text-desk;
            line-height: $header-one-line-desk;
        }

        @include desktop() {
            font-size: $header-one-text-desk;
            line-height: $header-one-line-desk;
        }   
    }

    &__footer-icon-padding {
        @include mobile() {
            padding-left: 6%;
        }
    }

    &__footer-logo {
        @include mobile() {
            display: none;
        }
    }

    &__footer-info-holder {
        @include mobile () {
            font-size: $paragraph-text-mobile;
            line-height: $paragraph-line-mobile;
        }

        @include tablet() {
            font-size: $paragraph-text-desk;
            line-height: $lists-line-desk;
        }

        @include desktop() {
            font-size: $paragraph-text-desk;
            line-height: $lists-line-desk;
        }        
    }

    &__footer-second-section {
        @include tablet() {
            display: flex;
            justify-content: space-between;
        }

        @include desktop() {
            display: flex;
            justify-content: space-between;
        }
    }

    &__footer-contact-names {
        font-family: $font-bold;
    }
}